{% extends 'new_base.html' %}
{% load staticfiles %}
{% block content %}
<center>
    <h2 class="text-uppercase">NEGOCIOS QUE REGISTRAR<br></h2>
</center>
    <section class="oz-body-wrap">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row">
               
             <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                            
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">COMIDA<br></h4>
                            <p>
                                <img src="{% static 'img/comida.jpg' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                            
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">SALUD</h4>
                            <p>
                                <img src="{% static 'img/salud.png' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                          
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">AUTOMOVILES</h4>
                            <p>
                                <img src="{% static 'img/automovil.jpeg' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                           
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">TECNOLOGIA Y SISTEMAS</h4>
                            <p>
                                <img src="{% static 'img/tecno.jpg' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                           
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">HOTELERIA</h4>
                            <p>
                                <img src="{% static 'img/hotel.jpg' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                    <div class="single-feature">
                        <div class="icon">
                            
                        </div>
                        <div class="desc">
                            <h4 class="text-uppercase">VIAJES</h4>
                            <p>
                                <img src="{% static 'img/viajes.jpg' %}" width="210px" height="140px">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
        <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
            <div class="single-feature">
                <div class="icon">
            
                <div class="desc">
                    <h4 class="text-uppercase">EMERGENCIAS</h4>
                    <p>
                        <img src="{% static 'img/emer.jpg' %}" width="210px" height="140px">
                    </p>
                    
                </div>
            </div>

        </div>
        <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
            <div class="single-feature">
                <div class="icon">
                    
                </div>
                <div class="desc">
                    <h4 class="text-uppercase">SERVICIOS PROFESIONALES</h4>
                    <p>
                        <img src="{% static 'img/ser.jpg' %}" width="210px" height="140px">
                    </p>
                </div>
            </div>
        </div>
    </div>
    
   
    </section>

{% endblock %}
